@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.special {
  margin-top: 8rem;
}

.card {
  iframe {
    pointer-events: none;
  }
  lottie-player {
    height: 40vh;
    box-shadow: 10px -10px 10px rgba(36, 36, 36, 0.6);
    background-color: rgb(22, 22, 22);
    border-radius: 24px;
    margin-top: 2rem;
  }
  lottie-player:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  h2 {
    font-family: "Dosis", sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #8360c3, #2ebf91);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
  }
}

.teaching {
  display: flex;
  justify-content: center;
}

.bg2 {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 35rem;
  height: 2rem;
  position: relative;
  z-index: -1;
  opacity: 0.65;
  border-radius: 2px;
  left: 27rem;
  bottom: 1.5rem;
  transform: rotate(0deg);
}
