* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iframe {
  border: none;
  height: 80vh;
  width: 30%;
  margin-left: 2rem;
  margin-top: 3rem;
  border-radius: 10rem;
}

.main {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .info {
    width: 60%;
    margin-left: 1rem;
  }
}

img {
  height: 70vh;
  border-radius: 2rem;
}
